*{
    box-sizing: border-box;
    background-color: rgb(155, 206, 38);
   
}
body{
    background-color: rgb(43, 31, 206);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-container{
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 51%;
    overflow: hidden;

}

.quiz-header{
    padding: 4rem;
    margin: 100px;
}
h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;

}
ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}
ul li label{
    cursor: pointer;
}
button{
    background-color: purple;
    color: aliceblue;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;

}
button:hover{
    background-color: #04adc4;
}
button:focus{
    outline: none;
    background-color: yellow;
}